:root {
  --background-color: #0B131E;
  --primary-color: #202C3C;
  --font-color: #7C8896;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 10vh 50vh 40vh;
  background-color: var(--background-color);
}

form {
  height: 50px;
  align-self: center;
}

input {
  height: inherit;
  width: -webkit-fill-available;
  border: none;
  border-radius: 1em;
  background-color: var(--primary-color);
  margin: 0 20px;
  padding-left: 20px;
  font-size: 16px;
  color: white;
}

input::placeholder {
  color: rgb(238, 238, 238, 0.8);
  padding-left: 0px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

p {
  color: white;
}

.location {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row: 2 / 3;
  margin: 20px 50px;
}

.city {
  font-size: 50px;
}

.temperature {
  grid-row: 2 / 3;
  font-size: 70px;
  align-self: flex-end;
}

.icon {
  grid-row: 1 / 3;
  height: 300px;
  width: auto;
  margin-right: 10px;
}

.air-condition{
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(2, 1fr);
  background-color: var(--primary-color);
  border-radius: 2em;
  margin-left: 20px;
  margin-bottom: 30px;
  align-items: end;
}

.air-condition > p {
  grid-column: 1 / 3;
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.air-condition p:first-child{
  color: var(--font-color);
}

.air-condition > div{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.air-condition p:last-child{
  font-size: 40px;
}

.week-forecast-container {
  background-color: var(--primary-color);
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

.week-forecast-container > p {
  font-size: 12px;
  margin: 30px;
  margin-bottom: 5px;
}

.week-forecast {
  flex: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 20px;
  justify-content: space-between;
  margin: 0 30px;
  font-size: 18px;
  grid-gap: 20px;
  align-items: center;
  border-bottom: 1px solid;
}

.week-forecast p:first-child{
  color: var(--font-color);
}

.week-forecast div{
  display: flex;
}

.week-forecast-container div:last-child{
  border: none;
}

.week-forecast p:last-child {
  justify-self: end;
  align-self: center;
}

img {
  justify-self: center;
  height: 4em;
  width: auto;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 1rem;
}

.loading img {
  width: 100px;
  height: 100px;
}

.loading p {
  color: white;
  font-size: 1.5rem;
}